html,
body {
  height: 100%;
  margin: 0;
}

body {
  color: #03045e;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(135deg, #90e0ef 10%, #00b4d8 100%);
}

h1 {
  font-size: 3.375em; /* 54px */
  font-family: "Fugaz One", cursive;
  margin: 0 0 0.222em;
}

h2 {
  color: #0077b6;
  margin: 0;
}

h3 {
  font-size: 1.5em; /* 24px */
  width: 80%;
  border-bottom: dotted 1px;
  padding-bottom: 0.5em;
  margin: 0 auto 0.75em; /* 18 / 24 = 0.75 */
}

.container {
  width: 680px;
  padding: 1.25em; /* 20 / 16 = 1.25*/
  border-radius: 10px;
  margin: 0 auto;
}

header {
  padding-top: 1.875em; /* 30 / 16 = 1.875 */
  margin-bottom: 1.875em;
}

.day {
  color: #355070;
  text-align: center;
  width: 20%;
  padding: 1em;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 4px #00b4d8;
}

.total-wk {
  font-size: 1.125em; /* 18px */
  letter-spacing: -1px;
}

.week {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  gap: 0.75em; /*  12 / 16 = 0.75 */
}

.distance,
.total-wk {
  font-weight: bold;
}
