html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --progressbar-bg: lightgrey;
  --start: red;
  --middle: blue;
  --finish: green;
}
.container {
  width: 80%;
  margin: 5em auto;
}
.progress-bar {
  height: 1.5em;
  background: var(--progressbar-bg);
  border-radius: 20px;
}
.progress-status {
  width: 10%;
  background: var(--start);
  animation: showprogress 6s linear;
}
@keyframes showprogress {
  50% {
    width: 50%;
    background: var(--middle);
  }

  75% {
    width: 100%;
    background: var(--finish);
  }
  100% {
    width: 100%;
    background: var(--finish);
  }
}
