html,
body {
  margin: 0;
  padding: 0;
  background: var(--bg-main);
  color: var(--font-color);
  font-family: var(--font);
}

:root {
  --font: "Karla", sans-serif;
  --font-color: #fff;
  --grad1: #feda75;
  --grad2: #fa7e1e;
  --grad3: #d62976;
  --grad4: #962fbf;
  --grad5: #4f5bd5;
  --viewed: gray;
  --bg-main: #000;
  --bg-live: red;
}
.stories-menu {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  max-width: 320px;
  margin: 2em auto;
}
.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.img-wrapper {
  width: 60px;
  height: 60px;
  padding: 4px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid black;
}
.new > .img-wrapper {
  background: linear-gradient(
    to top right,
    var(--grad1),
    var(--grad2),
    var(--grad3),
    var(--grad4),
    var(--grad5)
  );
}
.viewed > .img-wrapper {
  background: var(--viewed);
}
.live::after {
  content: "LIVE";
  font-size: .5em;
  font-weight: bold;
  width: 20px;
  text-align: center;
  padding: 2px 4px;
  background: var(--bg-live);
  border: 2px solid black;
  border-radius: 2px;
  position: absolute;
  top: 50%;
}
